<p>home works!</p>
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">One Page Wonder</h1>
            <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" href="#">Learn More</a
			>
		</div>
	</div>
	<div class="bg-circle-1 bg-circle"></div>
	<div class="bg-circle-2 bg-circle"></div>
	<div class="bg-circle-3 bg-circle"></div>
	<div class="bg-circle-4 bg-circle"></div>
</header>
<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img
						class="rounded-circle img-fluid"
						src="assets/img/01.jpg"
					/>
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">For those about to rock...</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Quod aliquid, mollitia odio veniam sit iste esse
						assumenda amet aperiam exercitationem, ea animi
						blanditiis recusandae! Ratione voluptatum molestiae
						adipisci, beatae obcaecati.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<img
						class="rounded-circle img-fluid"
						src="assets/img/02.jpg"
					/>
				</div>
			</div>
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<h2 class="display-4">We salute you!</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Quod aliquid, mollitia odio veniam sit iste esse
						assumenda amet aperiam exercitationem, ea animi
						blanditiis recusandae! Ratione voluptatum molestiae
						adipisci, beatae obcaecati.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 order-lg-2">
				<div class="p-5">
					<img
						class="rounded-circle img-fluid"
						src="assets/img/03.jpg"
					/>
				</div>
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="p-5">
					<h2 class="display-4">Let there be rock!</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing
						elit. Quod aliquid, mollitia odio veniam sit iste esse
						assumenda amet aperiam exercitationem, ea animi
						blanditiis recusandae! Ratione voluptatum molestiae
						adipisci, beatae obcaecati.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>